.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "left equals right"
      "dropLeft ok dropRight"
      ". . .";
  }
  
  .left { grid-area: left; }
  
  .right { grid-area: right; }
  
  .equals { grid-area: equals; }
  
  .dropLeft { grid-area: dropLeft; }
  
  .dropRight { grid-area: dropRight; }
  
  .ok { grid-area: ok; }
  